.progress {
  $progress-color: $gray-600;

  border: none;
  border-radius: 10px;
  background-color: $light-gray;
  height: 0.6rem;
  margin: 0.45rem 0;

  .progress-bar {
    background-color: $progress-color;
    border-radius: 10px;
  }
}
