// Global styling for this template

@import '~react-circular-progressbar/dist/styles.css';
@import 'circular-progressbars';
@import 'boostrap_progressbars';

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 4rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 300;
}

p,
p.lead {
  font-weight: 100;
  font-size: 1rem;
  line-height: 2rem;
  text-align: justify;
}

.navbar-brand {
  text-transform: uppercase;
}

.subheading {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  line-height: 2rem;
  @include heading-font;
}

.social-icons {
  a {
    //background-color: $gray-700;
    color: $sr-grey !important;
    //border-radius: 100%;

    font-weight: 200;
    //line-height: 3.5rem;
    //margin-right: 1rem;
    // &:last-child {
    //   margin-right: 0;
    // }

    &:hover {
      i {
        color: $primary;
      }
    }

    i {
      display: inline-block;

      height: 2.5rem;
      width: 3.5rem;

      font-size: 1.5rem;
      text-align: center;
    }
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.fw-hearline {
  font-weight: 100;
}

.fw-light {
  font-weight: 200;
}

.fw-regular {
  font-weight: 300;
}

.timeline {
  padding-left: 1.5rem;
  margin-left: 1.4rem;
  border-left: solid 3px;

  > *::before {
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background-color: $secondary;
    left: -2.25rem;
    position: relative;
    border-radius: 100% 100%;
    border: solid 0.25rem white;
    top: 1.4rem;
  }
}

.resume-item {
  line-height: 2rem;

  &-subheading {
    color: $gray-800;
    font-weight: 200;
  }

  &-description {
    font-weight: 100;
  }

  &-date {
    color: $gray-800;
    font-weight: 200;
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.progressbar {
  &-title {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1rem;
  }
}
