section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
  .resume-item {
    .resume-date {
      min-width: none;
    }

    .resume-item-description {
      & > ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        & > li {
          padding-left: 1em;
          text-indent: -1em;
        }

        & > li:before {
          content: '–';
          padding-right: 8px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
